.partners-title {
}
.partners-list {
    
}
.partners-list-item {
}

.partners-list-image {
    width: 120px;
    height: 120px;
}

.partners-list-icon {
    width: 32px;
    height: 32px;
    background-color: #FF4E50;
    border: 4px solid #FFFFFF;
    border-radius: 32px;
}
.partners-list-title {
}
.partners-list-text {
}
.partners-button {
    
}